body {
  background: url("/static/images/pexels-francesco-ungaro-673648.jpg") 50% 0 no-repeat
    fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
