{% extends "base.html" %} {% block title %}Trivial{% endblock %} {% load static %} {%block content%}

<h1 style="padding: 8px; text-align: center">Welcome to our trivia</h1>

<h4 style="text-align: center; padding: 10px">Choose a category</h4>


  <form action="/trivial/1/" method="post" style="text-align: center"
    > {% csrf_token %}    
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div class="container">
          <div class="row row-cols-3">
          {% for c in categorias%}
          <div class="col">
          <input
            type="radio"
            class="btn-check"
            name="categoria"
            id="{{c}}"
            autocomplete="off"
            value="{{c.id}}"
          />
          <label class="btn btn-outline-dark" for="{{c}}">{{c.name}}</label>
        </div>
          {% endfor %}
        </div>
        </div>
      </div>
        <div style="padding: 20px;">
          <input type="submit" name="start" class="btn btn-success" value="Start!"/>
        </div>
  </form>
  <p style="text-align: center; color: red;">If you do not get the categories try to hit the button home.</p>
       
</div>

{% endblock %}
