{% extends "base.html"%} {% block title %}Sign Up{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form method="post" >
      {% csrf_token %} {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <!-- Button trigger modal -->    
<button type="submit" class="btn btn-primary" name="signup" data-bs-toggle="modal" data-bs-target="#successModal">
  Sign up
</button>
<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModal">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">        
          User Created!
      </div>
    </div>
  </div>
</div>
    </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
    
{% endblock %}
